
// Cores para adicionar ao Projeto Laning Page // 

// Cores Primárias 
$primary-color: hsl(243, 87%, 12%);
$secondary-color: hsl(238, 22%, 44%);


// Cores terciárias // 
$terciary-color: hsl(224, 93%, 58%);
$dark-color: hsl(170, 45%, 43%);

// Cor Normal // 
$color-color:  hsl(239, 55%, 63%);

// Cores Claras Primárias // 
$primary-light-color: hsl(240, 75%, 98%);
$secondary-light-color: hsl(0, 0%, 75%);

// Cores Escuras Terciárias e Quuarciária. //
$terciary-dark-color: hsl(208, 25%, 29%);
$quarciary-color:  hsl(224, 47%, 39%);

// Color Normal // 
$color-one: #FFFFFF;