
$primary-color: hsl(243, 87%, 12%);
$secondary-color: hsl(238, 22%, 44%);


$terciary-color: hsl(224, 93%, 58%);
$dark-color: hsl(170, 45%, 43%);


$primary-light-color: hsl(240, 75%, 98%);
$secondary-light-color: hsl(0, 0%, 75%);

$terciary-dark-color: hsl(208, 25%, 29%);
$quarciary-color:  hsl(224, 47%, 45%);