
// Arquivo de media query - Responsividade do Projeto // 

@media (max-width: 375px) {
    body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    }
  
    header {
      display: flex;
      margin-left: -30px;

      img {
        width: 70px;
        height: 20px;
      }

      nav {
        width: 100%;
        display: flex;
    
  
        a {
          font-size: 13px;
        }
      }
    }
  
    main {
      display: flex;
      flex-direction: column-reverse;

      div {
        img {
          width: 250px;
          height: 200px;

          margin-left: 40px;
        }
      }
  
      .section1 {
        display: flex;
        flex-direction: column;
        margin-left: -75px;

        h1 {
          width: 280px;
          text-align: center;
          font-size: 20px;
          font-weight: 800;
          line-height: 30px;
        }

        p {
          width: 320px;

          text-align: center;
          line-height: 24px;

          
          padding-left: 10px;
        }

        .input {
          width: 270px;  
          height: 40px;

          border-radius: 6px;
          border: 1px solid black;

          margin-left: 50px;
        }
        .btn {
          width: 288px;
          height: 40px;  

          margin-left: 50px;
          border-radius: 6px;
        } 
      }
    }



    .section2 {
        width: 100%;

        background-image: url(../images/bg-curve-mobile.svg);
        background-color: red;
        background-size: contain;
       
        background-repeat: no-repeat;


        h2 {
            font-size: 16px;
        }
        
        .container-text {
            display: flex;
            margin-left: -10px;

            .text1, .text2 {
             width: 330px;
             font-size: 14px;
             line-height: 40px;
             margin-left: -22px;
            }
        }
    }
}