@import './colors';

html,
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  width: 1340px;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 50px;

  nav {
    a {
      margin: 10px;

      font-weight: 600;
      text-align: right;
      text-decoration: none;
      color: $terciary-dark-color;
    }
  }
}

main {
  display: flex;
  width: 1340px;

  .section1 {
    padding: 50px;

    h1 {
      width: 400px;
      font-weight: 700;
      color: $primary-color;
      font-size: 25px;
    }

    p {
      width: 510px;
      font-weight: 600;
      color: $primary-color;
    }

    .input {
      width: 300px;
      height: 34px;
      margin-right: 12px;
      margin-top: 20px;

      padding-left: 14px;
    }

    .btn {
      width: 200px;
      height: 40px;
      cursor: pointer;
      background-color: $terciary-color;
      border: none;
      border-radius: 2px;
      color: $primary-light-color;
      font-weight: 600;
      font-size: 14px;
      transition: 0.7s ease-in-out;

      &:hover {
        background-color: $quarciary-color;
      }
    }
  }

  div {
    img {
      width: 580px;
      height: 410px;
    }
  }
}


.section2 {
  background-image: url(../images/bg-curve-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
  height: 740px;
  width: 1340px;

  h2 {
    color: $primary-color;
    font-size: 25px;
    padding-left: 45px;
    padding-top: 50px;
  }

  .container-all {
    background-color: $primary-light-color;
    display: flex;
    justify-content: space-between;
    height: 740px;

    .container-text {
      display: flex;
      flex-direction: column;
      padding-left: 40px;
      width: 530px;

      margin-top: 12px;
      margin-right: 50px;

      .text1 {
        color: $terciary-dark-color;
        margin-bottom: 20px;
        font-weight: 600;
        line-height: 27px;
      }

      .text2 {
        color: $terciary-dark-color;
        font-weight: 600;
        line-height: 27px;
      }

      .texto3 {
        color: $dark-color;
        font-weight: 600;
        font-size: 19px;
        display: flex;
        align-items: center;
        margin-top: -30px;
       

        .img-arow {
          width: 22px;
          height: 22px;
          margin-left: 4px;
          margin-top: 42px;
        }
      }

      .card-line {
        width: 40%;
        border-bottom: 1px solid $dark-color;
        margin-bottom: 45px;
        margin-top: -52px;
      }

      .box-info {
        display: flex;
        flex-direction: column;

        background-color: $color-one;
        width: 410px;
        height: 230px;
        word-spacing: 2px;
        border-radius: 6px;
        padding: 25px;


        p {
          color: $primary-color;
          font-weight: 500;
          margin-top: -10px;

          .img-citacao {
            width: 22px;
            height: 22px;
            margin-top: 5px;
            margin-left: -1px;
          }
        }

        .text-box {
          width: 360px;
          line-height: 27px;
          margin-top: -39px;
          letter-spacing: 1px;
        }

        .card-informacao {
          display: flex;
          margin-left: -40px;
          margin-top: -15px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-top: 30px;
          }

          .card-names {
            margin-left: -12px;

            .text-info1 {
              margin-top: 35px;
              font-size: 16px;
              font-weight: 700;
            }

            .text-info2 {
              margin-top: -12px;
              font-size: 12px;
              font-weight: 400;
            }
          }
        }


      }
    }

    div {
      img {
        width: 600px;
        height: 400px;
        margin: 40px;
      }
    }
  }
}


.section3 {
  width: 1349px;
  height: 50vh;

  background-color: $secondary-color;

  h2 {
    color: $color-one;
    padding-left: 42px;
    padding-top: 70px;
    font-size: 27px;
  }

  .card-all {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;


    .card-1 {
      width: 450px;
      padding-right: 235px;

      p {
        color: $color-one;
        font-weight: 500;
        word-spacing: 2px;
        line-height: 25px;

        margin-top: -10px;
      }
    }

    .card-2 {
      display: flex;
      flex-direction: column;
      margin-top: -40px;
      padding-right: 30px;
  

      input {
        width: 450px;
        height: 45px;
        margin-bottom: 16px;
        padding-left: 14px;
        border-radius: 4px;
        border: none;

        box-shadow: 1px 1px black;
      }

      button {
        width: 250px;
        height: 45px;

        border-radius: 4px;
        border: none;

        background-color: $terciary-color;
        color: $color-one;

        font-size: 14px;
        font-weight: 600;

        cursor: pointer;
        transition: 0.7s ease-in-out;

        &:hover {
          background-color: $color-color;
        }
      }
    }
  } 
}


footer {
 background-color: $primary-color;
 min-height: 50vh;
 width: 1349px;

  .box-footer1 {
   padding-top: 60px;
   padding-left: 45px;

   img {
    filter: invert(50%) brightness(200%);
   }

   .card-3 {
    
    .box-1 {
      display: flex;
      margin-top: 15px;
      img {
        width: 20px;
        height: 20px;
        padding-top: 12px;
      }
      .ptext1 {
        color: $color-one;
        padding-left: 20px;
        font-weight: 500;
        padding-bottom: 16px;
      }
    }

   .box-2 {
    display: flex;
    img {
      width: 25px;
      height: 20px;
    }
     .ptexto2 {
      color: $color-one;
      padding-left: 20px;
      margin-top: 2px;
      font-weight: 500;
    }
   }

    .box-3 {
      display: flex;
      flex-direction: column;
      padding-left: 450px;
      margin-top: -110px;
  
      .card-footer {
        p {
          color: $color-one;
          
        }
      }
    }

    .card-4 {
      padding-left: 800px;
      margin-top: -150px;
      p {
        color: $color-one;
      }
    }

    .box-4 {
      display: flex;
      gap: 12px;
      margin-left: 1050px;
      margin-top: -100px;

      .bx{
        color: $color-one;
        border: 1px solid $color-one;
        padding: 4px;
        border-radius: 30px;
      }
    }
   }
  }
}

@media screen and (max-width: 375px) {
   body {
    padding: 0;
    margin: 0;
  }

  header {
    width: 360px;
    display: flex;
    align-items: center;
    margin-top: -22px;
    margin-left: 440px;
    img {
      width: 90px;
      height: 30px;
      margin-top: 10px;
      margin-left: 20px;
    }
    nav {
      display: flex;
      align-items: center;
      margin-top: -1px;
      margin-right: 15px;

      a {
        font-size: 15px;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    div { 
      display: flex;
      img {
        width: 220px;
        height: 180px;

        margin-left: 50px;
      }
    }
    .section1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        width: 320px;
        text-align: center;
        padding: 0 10px 0 10px;
      }
      p {
        width: 335px;
        padding: 0 8px 0 8px;
        text-align: center;
        margin-top: 20px;
      }
      .input {
        width: 290px;
        margin-bottom: 15px;
        
      }
      .btn {
        width: 310px;
        margin-right: 14px;
        border-radius: 6px;
      }
    }
    
    .section2 {
      display: flex;
      align-items: center;
    }
    
  }
}